
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta UI</title>
    <link rel="stylesheet" href="./style.css">
</head>
<div class="dui-avatar dui-avatar--xlg">
    <img class="dui-avatar__img"
            src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
    </img>
</div>
<div class="dui-avatar dui-avatar--lg">
    <img class="dui-avatar__img"
            src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
    </img>
</div>
<div class="dui-avatar dui-avatar--md">
    <img class="dui-avatar__img"
            src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
    </img>
</div>
<div class="dui-avatar dui-avatar--sm">
    <img class="dui-avatar__img"
            src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
    </img>
</div>